body {
    display:grid;
    grid-template:
    "a"
    "a"
    "b"
    "b"
    "c";
    grid-gap: 40px;
    background-color: rgba(129, 99, 52, 0.753);
    font-family: monospace;
}
header{
    grid-area: a;
}
main{
    grid-area: b;
}
footer{
    grid-area: c;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: auto;
}

h2{
    text-align: center;

}
.engine{
    text-align: center;
}
ul{
    display:flex;
    flex-wrap: wrap;
}
.results li{
    list-style-type: none;
    height:10vh;

}
.resultsbutton{
    text-align: center;

}
footer{
    text-align: center;
}

