body {
    display:grid;
    grid-template:
    "a"
    "a"
    "b"
    "b"
    "c";
    grid-gap: 40px;
    background-color: rgba(34,34,34,255);
    font-family: monospace;
}
header{
    grid-area: a;
}
main{
    grid-area: b;
}
footer{
    grid-area: c;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    opacity: 0.3;
}

#resultgrid{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

#resultgrid img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 10px;
}
#resultgrid p {
    display:flex;
    justify-content: left;
    padding-left: 60px;
    max-width: 200px;

}

li{
    justify-content: center;
    color: white;
    list-style-type: none;
}
img:hover {
    opacity: .5;
    transition: .9s;
}

h2{
    text-align: center;
    color: white;


}
header{
    text-align: center;
}

main{
    text-align: center;

}
footer{
    text-align: center;
    color:white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 500px) {
    #resultgrid {
      width: 70%;
    }
  }
  @media (max-width: 500px) {
    .resultgrid {
      flex-direction: column;
    }
  }